{{ partial "header.html" . }}

<main id="asqa-main">
	{{ if eq .Kind "section" }}
		{{ .Content }}
	{{end}}

	{{ if or (eq .Kind "taxonomy") (eq .Kind "term") }}
	<ul>
		{{ range .Pages }}
			<li><a href="{{.RelPermalink}}">{{.Title}}</a></li>
		{{ end }}
	</ul>
	{{end}}
</main>

{{ partial "footer.html" . }}
